<style>

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .social-media-footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1em;
  }
  
  .fa-instagram, 
  .fa-facebook,
  .fa-tiktok,
  .fa-youtube {
    font-size: 1.2em;
    margin: 1em;
  }
  
  .fa-instagram:hover, 
  .fa-facebook:hover,
  .fa-tiktok:hover,
  .fa-youtube:hover {
    cursor: pointer;
    transform: scale(1.1);
  }
</style>

<footer>
    <div class="footer">MiSlope 2022 &copy;</div>
    <div class="social-media-footer">
        <a href="#"><i class="fa-brands fa-instagram"></i></a>
        <a href="#"><i class="fa-brands fa-facebook"></i></i></a>
        <a href="#"><i class="fa-brands fa-tiktok"></i></i></a>
        <a href="#"><i class="fa-brands fa-youtube"></i></i></a>
      
    </div>
</footer>