
{% layout 'theme.myslope' %}
{% if customer.tags contains 'active_subscriber' %}

{% section 'page-myslope' %}
{% else %}

{{ pages.contact-us.content }}

<h2>

{% for collection in product.collections %}
    {{ collection.title }}
{% endfor %}
  
</h2>

{% endif %}

